
{% extends 'rango/base.html' %}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Whoops!
{% endif %}
{% endblock %}

{% block body_block %}

<div>
    {% if category %}
    <h1>{{ category.name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}
    <p>
    <a href="{% url 'add_page' category.slug %}">Add a new page to {{ category.name }}</a>
    </p>
    {% else %}
    The specified category does not exist!
    {% endif %}
</div>

{% endblock %}
